name: Terminus installer testing
on: push
jobs:
  functional:
    runs-on: ubuntu-latest
    container:
      image: quay.io/pantheon-public/php-ci:v7.4
    name: Run functional tests
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Composer Install
        run: composer install
      #- name: Phar Build
      #  run: composer phar:build
      - name: Run tests
        run: ./.github/workflows/test.sh
